#anchorPaneAdmi {
    -fx-background-image: url("fondoLogin.png");
    -fx-background-size: cover;
}

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #211E1E; /* Cambia a tu color deseado */
}


#btnRegresar {
    --body-background-color: #ffffff;
}

#tblFacturas .column-header .label {
    -fx-text-fill: #ffffff;
}

#tblRutas .column-header .label {
    -fx-text-fill: #ffffff;
}

#tblPremios .column-header .label {
    -fx-text-fill: #ffffff;
}

#tblFacturasProcesadas .column-header .label {
    -fx-text-fill: #3dcdbc;
}

.table-row-cell:selected {
    /* Cambia el color del texto en las celdas seleccionadas de la tabla */
    -fx-text-fill: #3dcdbc; /* Color verde */
}


.table-row-cell:selected .table-cell {
    -fx-text-fill: #3dcdbc; /* Cambia el color del texto cuando se selecciona una fila */
}


.table-cell {
    /* Cambia el color del texto en todas las celdas de la tabla */
    -fx-text-fill: #ffffff; /* Color rojo */
}


#btnRegresar {
    -fx-background-color: transparent; /* Establece el color de fondo como transparente */
    -fx-border-width: 0px; /* Elimina los bordes */
    -fx-text-fill: #ffffff; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 10px 20px; /* Espaciado interno */
    -fx-cursor: hand; /* Cambia el cursor al pasar por encima */
}

#btnSalir {
    -fx-background-color: transparent; /* Establece el color de fondo como transparente */
    -fx-border-width: 0px; /* Elimina los bordes */
    -fx-text-fill: #3dcdbc; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 10px 20px; /* Espaciado interno */
    -fx-cursor: hand; /* Cambia el cursor al pasar por encima */
}

#transparentButton:hover {
    -fx-text-fill: #ffffff; /* Cambia el color del texto al pasar el mouse sobre el botón */
}


.scroll-pane {
    -fx-background-color: transparent; /* Fondo transparente para que el borde sea visible */
    -fx-border-color: #3aecec; /* Color del borde */
    -fx-border-width: 4px; /* Ancho del borde */
    -fx-border-style: solid; /* Estilo del borde */
    -fx-border-radius: 5px; /* Radio del borde */
    -fx-padding: 10px; /* Espaciado interior */
}


#scpTabla .scroll-bar {
    -fx-background-color: rgb(33, 30, 30); /* Cambia el color de fondo de las barras de desplazamiento */

}

#scpTabla .scroll-bar {
    -fx-background-color: rgb(33, 30, 30);
}


.scroll-bar:vertical .thumb {
    -fx-background-color: #ffffff; /* Color de la barra de desplazamiento vertical */
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #ffffff; /* Color de la barra de desplazamiento horizontal */
}

#tblProductos {
    -fx-border-color: #3aecec; /* Color del borde */
    -fx-border-width: 4px; /* Ancho del borde */
    -fx-border-style: solid; /* Estilo del borde */
    -fx-border-radius: 5px; /* Radio del borde */
    -fx-padding: 10px; /* Espaciado interior */
}