#anchorPaneAdmi {
    -fx-background-image: url("fondoLogin.png");
    -fx-background-size: cover;
}

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #211E1E; /* Cambia a tu color deseado */
}


#btnRegresar {
    --body-background-color: #ffffff;
}

#tblFacturas .column-header .label {
    -fx-text-fill: #ffffff;
}

#tblProductos .column-header .label {
    -fx-text-fill: #ffffff;
}

#tblFacturasProcesadas .column-header .label {
    -fx-text-fill: #3dcdbc;
}

.table-row-cell:selected {
    /* Cambia el color del texto en las celdas seleccionadas de la tabla */
    -fx-text-fill: #3dcdbc; /* Color verde */
}


.table-row-cell:selected .table-cell {
    -fx-text-fill: #3dcdbc; /* Cambia el color del texto cuando se selecciona una fila */
}


.table-cell {
    /* Cambia el color del texto en todas las celdas de la tabla */
    -fx-text-fill: #ffffff; /* Color rojo */
}


#btnRegresar {
    -fx-background-color: transparent; /* Establece el color de fondo como transparente */
    -fx-border-width: 0px; /* Elimina los bordes */
    -fx-text-fill: #ffffff; /* Color del texto */
    -fx-font-size: 14px; /* Tama침o de la fuente */
    -fx-padding: 10px 20px; /* Espaciado interno */
    -fx-cursor: hand; /* Cambia el cursor al pasar por encima */
}

#btnSalir {
    -fx-background-color: transparent; /* Establece el color de fondo como transparente */
    -fx-border-width: 0px; /* Elimina los bordes */
    -fx-text-fill: #3dcdbc; /* Color del texto */
    -fx-font-size: 14px; /* Tama침o de la fuente */
    -fx-padding: 10px 20px; /* Espaciado interno */
    -fx-cursor: hand; /* Cambia el cursor al pasar por encima */
}

#transparentButton:hover {
    -fx-text-fill: #ffffff; /* Cambia el color del texto al pasar el mouse sobre el bot칩n */
}


#btnActualizar {
    -fx-background-color: transparent; /* Establece el color de fondo como transparente */
    -fx-border-width: 0px; /* Elimina los bordes */
    -fx-text-fill: #3dcdbc; /* Color del texto */
    -fx-font-size: 14px; /* Tama침o de la fuente */
    -fx-padding: 10px 20px; /* Espaciado interno */
    -fx-cursor: hand; /* Cambia el cursor al pasar por encima */
}




