#borderPaneAdmin{
-fx-background-image: url("fondoLogin.png");
    -fx-background-size: cover;
}

#tblFacturas .column-header .label {
    -fx-text-fill: #ffffff;
}

#btnRegresar{
    -fx-background-color: transparent; /* Establece el color de fondo como transparente */
    -fx-border-width: 0px; /* Elimina los bordes */
    -fx-text-fill: #ffffff; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de la fuente */
    -fx-padding: 10px 20px; /* Espaciado interno */
    -fx-cursor: hand; /* Cambia el cursor al pasar por encima */
}

#transparentButton:hover {
    -fx-text-fill: #ffffff; /* Cambia el color del texto al pasar el mouse sobre el botón */
}
